<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <script>
        alert("잘못된 접근입니다")
        history.back();
    </script>
</head>
<body>

</body>
</html>