<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    window.onload = function() {
        $.ajax({
            url:"/api/students/{{id}}",
            type:"DELETE",
            success:function(data){
                location.href="/student/delete_"+data.name+"/{{id}}";
            },error:function(xhr){
                alert(xhr.status);
            }
        });
    }
</script>
</body>
</html>