{{>board/top1}}
<h1>ajax 글 등록</h1>

    제목 <input type="text" name="title" id="title"> <br/>
    내용 <textarea name="content" id="content"></textarea>  <br/>
    <button onclick="add_ok();">등록하기</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    function add_ok() {
        var obj = { "title":$("#title").val(), "content":$("#content").val()};
        $.ajax({
            url:"/api/boards",
            type:"POST",
            headers:{'Content-Type':'application/json'},
            data:JSON.stringify(obj),
            dataType:"json",
            success:function(data){
                //alert(data.id);
                location.href="/board/blist";
            },error:function(xhr){
                alert(xhr.status);
            }
        });
    }
</script>

{{>bottom}}