<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<form method="post" action="/board/input_ok">
    제목 <input type="text" name="title"> <br/>
    내용 <textarea name="content"></textarea>  <br/>
    <button>등록하기</button>
</form>
</body>
</html>