{{>top}}

<div class="text-bg-primary"><h1>정보 수정 페이지</h1></div>
<input name="id" type="hidden" value={{student.id}}>
<div class="mb-3">
    <label for="exampleInputName" class="form-label">이름</label>
    <input type="text" class="form-control" id="name" name="name" value={{student.name}}>
</div>
<div class="mb-3">
    <label for="국어" class="form-label">국어</label>
    <input type="text" class="form-control" id="국어" name="국어" value={{student.국어}}>
</div>
<div class="mb-2">
    <label for="수학" class="form-label">수학</label>
    <input type="text" class="form-control" id="수학" name="수학" value={{student.수학}}>
</div>
<div class="mb-3">
    <label for="영어" class="form-label">영어</label>
    <input type="text" class="form-control" id="영어" name="영어" value={{student.영어}}>
</div>
<a class="btn btn-outline-primary"  role="button" onclick="update_ok();">정보수정</a>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    function update_ok() {
        var obj = { "id":$("#id").val(), "국어":$("#국어").val(),
                    "name":$("#name").val(),"수학":$("#수학").val(),"영어":$("#영어").val()};
        $.ajax({
            url:"/api/students/{{student.id}}",
            type:"PATCH",
            headers:{'Content-Type':'application/json'},
            data:JSON.stringify(obj),
            dataType:"json",
            success:function(data){
                location.href="/student";
            },error:function(xhr){
                alert(xhr.status);

            }
        });
    }
</script>

{{>bottom}}